WATSONX_API_KEY="D7Iv2DNX7EU023sPdOJXn3ZDedUwvaJ32NFsIjGbQqZq"
MODEL_ID="watsonx/meta-llama/llama-4-maverick-17b-128e-instruct-fp8"
WX_PROJECT_ID = "460c0a63-21f3-4b64-adb6-b0c3c7e2d55d"
WATSONX_API_BASE="https://us-south.ml.cloud.ibm.com"
